body {
  margin: 0;
  font-family: 'Merriweather';
}

.container {
  display: grid;
  height: 350vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2.6fr 2fr 3.2fr 1.5fr;
  grid-template-areas:
  "nav nav nav"
  "intro intro intro"
  "about about about"
  "projects projects projects"
  "contact contact contact";
  grid-gap: 0.2rem;
  grid-row-gap: 0;
  overflow-x: hidden;
  position: relative;
}

h1 {
  color: #fff;
  font-family: 'Ubuntu';
  font-size: 9rem;
  margin-left: 5%;
}

h2 {
  margin-top: 3%;
}

nav{
  display: flex;
  font-family: 'Merriweather';
  justify-content: flex-end;
  background: #53B8BB;
  color: #fff;
  grid-area: nav;
}

ul {
  list-style-type: none;
  margin-right: 50px;
}

li {
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
}

a {
  color: #fff;
  text-decoration: none;
}

span {
  color: #141E61;
}

p {
  margin-left: 10%;
  margin-right: 10%;
}

.container {
  background-color: #53B8BB;

}

.profile {
  border-radius: 50%;
  height: 200px;
  padding-top: 2%;
}

#intro {
background: #53B8BB;
grid-area: intro;

}

#about {
  background: #FDF6F0;
  grid-area: about;
  text-align: center;
}

#projects {
background: #055052;
grid-area: projects;
text-align: center;
}

#projects h2 {
  color: #fff;
}

#resume {
background: #FDF6F0;
grid-area: resume;

}

#contact {
background: #FDF6F0;
grid-area: contact;
text-align: center;

}

/* Navbar */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #055052;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-family: 'Merriweather';
  color: #fff;
  display: block;
}

.overlay a:hover, .overlay a:focus {
  color: #ddd;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.icon {
  color: #fff;
  position: relative;
  margin-left: 1400px;
  margin-top: 20px;
}

.card1 {
  background: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  height: 450px;
  width: 350px;
  position: absolute;
  margin-left: 8%;
  margin-top: 5%;
}

.card2 {
  background: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  height: 450px;
  width: 350px;
  position: absolute;
  margin-left: 38%;
  margin-top: 5%;
}

.card3 {
  background: #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  height: 450px;
  width: 350px;
  position: absolute;
  margin-left: 68%;
  margin-top: 5%;
}

.project-pic {
  border-radius: 5px 5px 0 0;
  height: 45%;
  width: 100%;
}

.button {
  background-color: #D54C4C;
  border-radius: 5px;
  display: inline-block;
  height: 35px;
  width: 70px;
  line-height: 2.5;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.button:hover {
  background-color: red;
}

.btn {
  color: #fff;
  display: block;
}

.icon {
  font-size: 2rem;
  margin-right: 40px;
  cursor: pointer;
}

.icon-wrapper {
  margin-left: 2%;
}

.socials {
  color: #000;
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 3.8rem;
    margin-left: 10%;
    margin-top: 35%;
  }

  .icon {
    margin-left: 320px;
    margin-top: 20px;
  }

  .container {
    grid-template-rows: 0.2fr 2.6fr 2fr 3.2fr 1.5fr;
  }

  #about p {
    margin-left: 15%;
    margin-right: 15%;
  }
}
