body {
  margin: 0;
  font-family: 'Merriweather';
}

.container {
  display: grid;
  height: 350vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2.6fr 2fr 2fr 1fr 1fr;
  grid-template-areas:
  "nav nav nav"
  "intro intro intro"
  "about about about"
  "projects projects projects"
  "resume resume resume"
  "contact contact contact";
  grid-gap: 0.2rem;
  grid-row-gap: 0;

}

h1 {
  color: #fff;
  font-family: 'Ubuntu';
  font-size: 9rem;
  margin-left: 5%;
}

nav{
  display: flex;
  font-family: 'Merriweather';
  justify-content: flex-end;
  background: #53B8BB;
  color: #fff;
  grid-area: nav;
}

ul {
  list-style-type: none;
  margin-right: 50px;
}

li {
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
}

a {
  color: #fff;
  text-decoration: none;
}

span {
  color: #141E61;
}

p {
  margin-left: 10%;
  margin-right: 10%;
}

img {
  border-radius: 50%;
  height: 200px;
  padding-top: 2%;
}
#intro {
background: #53B8BB;
grid-area: intro;

}

#about {
  background: #FDF6F0;
  grid-area: about;
  text-align: center;

}

#projects {
background: #53B8BB;
grid-area: projects;

}

#resume {
background: #FDF6F0;
grid-area: resume;

}

#contact {
background: #53B8BB;
grid-area: contact;

}
